<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/links.html') -%>
    <!-- Site title -->
    <title>Céres | <%= title %></title>
</head>

<body>

    <%- include ('partials/nav.html') -%>

    <!-- Slider area starts -->
    <section id="slider" class="slider-area" style="background-image: url(../img/bg/intro-bg.jpg);">
        <div class="table">
            <div class="table-cell">
                <div class="intro-text">
                    <div class="container">
                        <div class="row">

                            <!-- intro image -->
                            <div class="col-md-12">
                                <a class="nav-link text-light" href="/login"><h2>Visiones</h2></a>
                                <div class="typejs"></div>
                                <div class="clearfix"></div>
                                <a href="#work" class="btn btn-white smooth_scroll">See My Work</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Slider area ends -->

    <!-- About area starts -->
    <section id="about" class="about-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2><span>About</span> Us</h2>
                        <p>Conformada por :OMAR DIAZ. CARLOS LUCÍAN. ALEJANDRO ÁLVAREZ. SERGIO ALCÁNTARA </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- About Image -->
                <div class="col-md-6">
                    <div class="me-image">
                        <img src="img/about/about.jpg" alt="" style="height: 35rem;">
                    </div>
                </div>

                <!-- About Text -->
                <div class="col-md-6">
                    <div class="about-me">
                        <h3><span>A Quick</span> Bio</h3>
                        <p>
                            Actualmente produciendo su primer material de estudio a estrenarse en 2020
                            Bajo la producción de Christian Jean de (Reyno).
                            Céres se caracteriza por entregar canciones con emociones reales y con el
                            alma, música digerible y sin miedo a la experimentación
                            Guitarras directas y reverberadas, baterías potententes con un beat nostálgico
                            y emocionante, bajos dinámicos con bulbo y sintetizadores envolventes.
                            Shows en vivo 
                        </p>

                        <a class="btn dark smooth_scroll" href="#contact">Hire Me Now</a>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- About area ends -->

    <!-- Service area starts -->
    <section id="service" class="service-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2><span>What I</span> Do</h2>
                        <p>El desarrollo de un nuevo lenjuage musical. Céres en su corto tiempo a logrado Abrir shows de talla internacional. </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-box">
                        <span class="icon-camera"></span>
                        <h3>Fotos</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-box">
                        <span class="icon-newspaper"></span>
                        <h3>Noticias</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-box">
                        <span class="icon-video"></span>
                        <h3>Videos</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-box">
                        <span class="icon-adjustments"></span>
                        <h3>Desarrollo</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-box">
                        <span class="icon-happy"></span>
                        <h3>Disfruta</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-box">
                        <span class="icon-mic"></span>
                        <h3>Musica</h3>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- Service area ends -->

    <!-- Work area starts -->
    <section id="work" class="works section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2><span>My</span> Works</h2>
                        <p>más 14k de reproducciónes en spotify</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Works filter -->
                <ul class="work filters">
                    <li class="filter" data-filter="all">
                        <span class="icon-presentation"></span> All
                    </li>
                    <li class="filter" data-filter=".web">
                        <span class="icon-browser"></span> Web
                    </li>
                    <li class="filter" data-filter=".app">
                        <span class="icon-mobile"></span> App
                    </li>
                    <li class="filter" data-filter=".graphic">
                        <span class="icon-camera"></span> Graphic
                    </li>
                </ul>
                <!-- / Works filter -->
            </div>

            <div class="portfolio">
                <div class="row work-items">

                    <!-- work item -->
                    <div class="col-md-4 col-sm-6 mix graphic">
                        <div class="item">
                            <a href="img/works/img (1).jpg" class="work-popup">
                                <img src="img/works/img (1).jpg" alt="" style="height: 35rem;">
                                <div class="overlay">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- work item -->
                    <div class="col-md-4 col-sm-6 mix graphic">
                        <div class="item">
                            <a href="img/works/img (2).jpg" class="work-popup">
                                <img src="img/works/img (2).jpg" alt="" style="height: 35rem;">
                                <div class="overlay">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- work item -->
                    <div class="col-md-4 col-sm-6 mix typography web">
                        <div class="item">
                            <a href="img/works/img (3).jpg" class="work-popup">
                                <img src="img/works/img (3).jpg" alt="" style="height: 35rem;">
                                <div class="overlay">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- work item -->
                    <div class="col-md-4 col-sm-6 mix app">
                        <div class="item">
                            <a href="img/works/img (4).jpg" class="work-popup">
                                <img src="img/works/img (4).jpg" alt="" style="height: 35rem;">
                                <div class="overlay">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- work item -->
                    <div class="col-md-4 col-sm-6 mix app graphic">
                        <div class="item">
                            <a href="img/works/img (5).jpg" class="work-popup">
                                <img src="img/works/img (5).jpg" alt="" style="height: 35rem;">
                                <div class="overlay">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- work item -->
                    <div class="col-md-4 col-sm-6 mix app web">
                        <div class="item">
                            <a href="img/works/img (6).jpg" class="work-popup">
                                <img src="img/works/img (6).jpg" alt="" style="height: 35rem;">
                                <div class="overlay">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- Work area ends -->

    <!-- Testimonial area starts -->
    <section id="testimonial" class="testimonial-area section-big">
        <div class="container">

            <div class="row hidden">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2><span>Happy</span> Clients</h2>
                        <p>El desarrollo de un nuevo lenjuage musical.</p>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="testimonial-list demo-3">

                    <!-- Testimonial item -->
                    <div class="single-testimonial text-center">
                        <span class="icon-quote"></span>
                        <p>en mi habitación no sabes soy, esta es la última ocasión y yo me alejo de ti y tú te vas de mí, te juro que no sé cómo olvidarte, 
                            quiero tomar tu mano como antes, te juro que eras tu mi otra parte, has que actuemos juntos regresemos a marte.</p>
                        <div class="clearfix"></div>
                        <img src="img/testi/1.jpg" alt="" style="height: 35rem;">
                        <h4>- Bajo la producción de Christian Jean de (Reyno) </h4>
                        <p class="desg">Céres - Resguardo </p>
                    </div>

                    <!-- Testimonial item -->
                    <div class="single-testimonial text-center">
                        <span class="icon-quote"></span>
                        <p>Soy tus visiones y en mis brazos halle me hace tanta falta tu alma, soy tus visiones así porque me haces tanta falta tu alma, 
                            llamar tu ausencia nos va mejor, es como un tiro al corazón.</p>
                        <div class="clearfix"></div>
                        <img src="img/testi/1.jpg" alt="" style="height: 35rem;">
                        <h4>Visiones · Céres · Céres · Kristian Parker </h4>
                        <p class="desg">Céres - Visiones</p>
                    </div>

                    <!-- Testimonial item -->
                    <div class="single-testimonial text-center">
                        <span class="icon-quote"></span>
                        <p>Estamos en desarrollo de una nueva letra para que puedas disfrutar de este lenguaje musical, espéralo muy pronto llegara.</p>
                        <div class="clearfix"></div>
                        <img src="img/testi/1.jpg" alt="" style="height: 35rem;">
                        <h4>- Bajo la producción de Christian Jean de (Reyno) </h4>
                        <p class="desg">Fundador Céres</p>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- Testimonial area ends -->

    <!-- Contact area starts -->
    <section id="contact" class="contact-area section-big">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2><span>Contact</span> Me</h2>
                        <p>Banda de Dark pop originaria de Toluca México </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">

                    <!-- Contact form starts -->
                    <div class="contact-form">

                        <form action="/email" method="POST">
                            <div class="form-group in_name">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Name"
                                    required="required">
                            </div>
                            <div class="form-group in_email">
                                <input type="email" name="email" class="form-control" id="email" placeholder="Email"
                                    required="required">
                            </div>
                            <div class="form-group in_message">
                                <textarea rows="5" name="message" class="form-control" id="message"
                                    placeholder="Message" required="required"></textarea>
                            </div>
                            <div class="actions">
                                <button type="submit" name="submit" id="submitButton" class="btn"
                                    title="Submit Your Message!">Send Message</button>
                            </div>
                        </form>

                        <!-- Submition status -->
                        <div id="form-messages"></div>

                    </div>
                    <!-- Contact form ends-->
                </div>

            </div>

        </div>
    </section>
    <!-- Contact area ends -->

    <%- include ('partials/footer.html') -%>

    <%- include ('partials/scripts.html') -%>
</body>

</html>