 <!-- Footer area starts -->
 <footer class="footer-area" style="margin-top: 5rem;">
    <div class="container">

        <div class="address">
            <div class="address-box clearfix">
                <p>Céres es un proyecto originario de Toluca (México)</p>
            </div>
            <div class="address-box clearfix">
                <p><a href="tel:000-00-00-000">729-296-8278</a></p>
            </div>
            <div class="address-box clearfix">
                <p><a href="oficialceres@gmail.com">oficialceres@gmail.com</a></p>
            </div>
        </div>

        <ul class="social-ul">
            <li><a href="https://www.facebook.com/Ceresoficialband/?refid=22" target="_blank"> <i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="https://twitter.com/CeresOficial?fbclid=IwAR3a5wMGoyXBt7-adlI7lX0y-0Hlh4pgNL9G9o18Lz4VRRt-kQUqe_NkQrs" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="https://www.instagram.com/ceres_mx/?igshid=143i9lg10c3bp" target="_blank"> <i class="fa fa-instagram fa-2x"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCYxoJa9uYn3-s5P_seDoDrA" target="_blank"> <i class="fa fa-youtube-play fa-2x"></i></a></li>
            <li><a href="https://open.spotify.com/artist/6A4zD8ETEX7CqCLEayZ60c?fbclid=IwAR36GbNijDZYa3D2vuckMWb8clf6Ae-HErYtDshLz8uEELGUPWtoOzKbtx8" target="_blank"> <i class="fa fa-spotify fa-2x"></i></a></li>
        </ul>

        <p class="copyright">&copy; Copyright <%= new Date().getFullYear(); %> Ceresoficialband</p>

    </div>
</footer>
<!-- Footer area ends -->
