    <!-- Latest jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap js-->
    <script src="js/bootstrap.min.js"></script>

    <!-- Owl Carousel js -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- Mixitup js -->
    <script src="js/jquery.mixitup.js"></script>

    <!-- Magnific popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- Waypoint js -->
    <script src="js/jquery.waypoints.min.js"></script>

    <!-- Ajax Mailchimp js -->
    <script src="js/jquery.ajaxchimp.min.js"></script>

    <!-- Typed js -->
    <script src="js/typed.js"></script>



    <!-- Main js-->
    <script src="js/main_script.js"></script>